.items_card_contanier {
  margin-top: 150px;
  display: grid;
  grid-template-columns: 400px 400px 400px;
  justify-content: space-evenly;
  grid-gap: 30px;
  color: #030027;
}

.grid_items {
  display: flex;
  justify-content: center;
  align-items: center;
}

.items_card {
  display: flex;
  flex-direction: column;
  align-items: space-around;
  justify-content: center;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0px 5px 10px 3px rgba(0, 0, 0, 0.514);
  width: 300px;
  transition: all 0.5s ease-in-out;
  background-color: #f2f3d9;
  position: relative;
}

.items_descriptions {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.item_content {
  display: flex;
  margin-left: 20px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.item_info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 10px;
  opacity: 0;
  transition: all 0.5s ease-in-out;
  width: 0;
  overflow: hidden;
}

.items_card:hover {
  width: 900px;
  color: #292279;
}

.items_card:hover .items_descriptions > .item_info {
  opacity: 1;
  width: 200px;
}

.items_descriptions img {
  width: 200px;
  height: 200px;
  object-fit: contain;
}

.items_action {
  display: flex;
  justify-content: center;
}

.btn {
  left: 0;
  position: sticky;
  border-radius: 10px;
  background-color: rgb(215, 215, 240);
}

.btn:hover {
  background-color: rgb(124, 223, 124);
}
